<% if @trainers.count(:all).zero? %>
  $(".modal-window h1").text("Ooops!");
  $(".modal-window p.intro").text("Please check your input and try again. There is no trainer/assistant that available.");
  $(".modal-state").prop('checked', true);
<% else %>
  $(".trainer-list").html("<%=j render partial: 'users/books/list' %>");
<% end %>

$(document).ready(function() {
  
  $(".card").click(function(){
    $(".ribbon-wrapper").html("");
    trainer = $(this).data("trainer");
    $(this).find(".ribbon-wrapper").html("<div class='ribbon'>Selected</div>");
    $("#registered_submit_button").removeAttr("disabled");
    get_registered_book(trainer);
  });
});