@include font-face(bebas_neueregular, 'bebas_neue/BebasNeue-webfont', normal, $asset-pipeline: true);
$blue-dark: #1880CD;
body{
	margin: 0;
}

.menu-title, a.menu-title{
  font-family: bebas_neueregular;
  font-size: em(26);
}

.right-content{
	float: right !important;
	color: black;
	display: inline-block;
	background: rgb(243, 249, 250);
  opacity: 0.95;
	@include span-columns(6);
}

.form-label{ 
	@include span-columns(4);
	text-align: right;
}

.label-checkbox{
	@include span-columns(3);
	text-align: left;
}

.form-input{
	@include omega();
}

.input-control{
	@include outer-container;
}

.blue-button{
	background: $blue-dark;
	&:hover{
		background: lighten($blue-dark, 10);
	}
}